body {
 font-family: 'Roboto', sans-serif;   
}

.alert-container {

}

.callout-container {
  height: 100vh;

  background: url('../images/whiskey-background.png') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
 display: flex;
 align-items: center;
 justify-content: center;

}

.quotes-container {

}

.feature-container {

}











